body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.judul {
  background-color: salmon;
  color: cornsilk;
  padding: 10px;
  border-radius: 7px;
}

p {
  color: #333;
  background-color: #eee;
  border-radius: 5px;
}
